@model List<IRGraduateAssignment.Models.XMLReader.SystemUnit>

<!Doctype html>
<head>
    <title>Time Person of the Year Results</title>
</head>


<link rel="stylesheet" href="~/Styles/StyleSheet.css" />
<!--Traverse through the Model and output each of the line items in the csv file.-->
<!--9 columns. output each line item-->
@*Table for System Info*@
<div>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Platform</th>
            <th>Product Type</th>
            <th>Software Details</th>
            <th>Diagnostics Information</th>
            <th>State</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductPlatform</td>
                <td>@item.ProductType</td>
                <td>@item.SoftwareDetails</td>
                <td>@item.DiagnosticInformation</td>
                <td>@item.State</td>
            </tr>
        }
    </table>
</div>
@*Table for call information*@
<div>
    <table>
        <tr>
            <th>Answer State</th>
            <th>Call Type</th>
            <th>Callback Number</th>
            <th>Device Type</th>
            <th>Direction</th>
            <th>Display Name</th>
            <th>Duration</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AnswerState</td>
                <td>@item.CallType</td>
                <td>@item.CallbackNum</td>
                <td>@item.DeviceType</td>
                <td>@item.Direction</td>
                <td>@item.DisplayName</td>
                <td>@item.Duration</td>
            </tr>
        }
    </table>
</div>
@*Table for camera information*@
<div>
        <table>
            <tr>
                <th>Mode</th>
                <th>Hold</th>
                <th>Presentation</th>
                <th>Source Information</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Mode</td>
                    <td>@item.Hold</td>
                    <td>@item.Presentation</td>
                    <td>@item.SourceName>
                </tr>
            }
        </table>
    </div>
@*Table for Network info*@
<div>
    <table>
        <tr>
            <th>Device ID</th>
            <th>Platform</th>
            <th>MAC Address</th>
            <th>IPv4 Address</th>
            <th>Ipv6 Address</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeviceID</td>
                <td>@item.Platform</td>
                <td>@item.MACAddress</td>
                <td>@item.IPv4Address</td>
                <td>@item.IPv6Address</td>
            </tr>
        }
    </table>
</div>