@model List<IRGraduateAssignment.Models.XMLReader.SystemUnit>
@using IRGraduateAssignment.Models
@{
    List<String> Peripheral = new List<String>();
    foreach (var item in Model)
    {
        Peripheral.Add(item.PeriHardware);
        Peripheral.Add(item.PeriID);
        Peripheral.Add(item.PeriName);
        Peripheral.Add(item.PeriSoftware);
        Peripheral.Add(item.PeriStatus);
        Peripheral.Add(item.PeriType);
    };

}

<!Doctype html>
<header>
    @*this block of code will refresh the page and its data every 60 seconds / 1 minute*@
    <meta http-equiv="refresh" content="60">
</header>
<head>
    <title>Cisco Video Endpoints Diagnostics</title>
</head>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<!--<link rel="stylesheet" href="~/Styles/StyleSheet.css" />-->
<!--Traverse through the Model and output each of the line items in the xml file.-->
@*Table for System Info*@
<div>
    <table class="table table-dark">
        <tr>
            <th>Product Id</th>
            <th>Product Platform</th>
            <th>Product Type</th>
            <th>Software Details</th>
            <th>Diagnostics Information</th>
            <th>State</th>
        </tr>
        @foreach (var item in Model)
        {
            if(item == null)
            {
                <tr style="display:none"></tr>
            }
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductPlatform</td>
                <td>@item.ProductType</td>
                <td>@item.SoftwareDetails</td>
                <td>@item.DiagnosticInformation</td>
                <td>@item.State</td>
            </tr>
        }
    </table>
</div>
@*Table for call information*@
<div>
    <table class="table table-dark">
        <tr>
            <th>Answer State</th>
            <th>Call Type</th>
            <th>Callback Number</th>
            <th>Device Type</th>
            <th>Direction</th>
            <th>Display Name</th>
            <th>Duration</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.AnswerState == "Answered")
                {
                <td style="color: green">@item.AnswerState</td>
                }
                else
                {
                    <td style="color: red">@item.AnswerState</td>
                }
                <td>@item.CallType</td>
                <td>@item.CallbackNum</td>
                <td>@item.DeviceType</td>
                <td>@item.Direction</td>
                <td>@item.DisplayName</td>
                <td>@item.Duration</td>
            </tr>
        }
    </table>
</div>
@*Table for Network info*@
<div>
    <table class="table table-dark">
        <tr>
            <th>Device ID</th>
            <th>Platform</th>
            <th>MAC Address</th>
            <th>IPv4 Address</th>
            <th>Ipv6 Address</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeviceID</td>
                <td>@item.Platform</td>
                <td>@item.MACAddress</td>
                <td>@item.IPv4Address</td>
                @if (item.IPv6Address == "No Value")
                {
                    <td style="color : red">@item.IPv6Address</td>
                }
                else
                {
                    <td>@item.IPv6Address</td>
                }
            </tr>
        }
    </table>
</div>

<div>
    <table class="table table-dark">
        <tr>
            <th>Peripheral Hardware Info</th>
            <th>Peripheral ID</th>
            <th>Peripheral Name</th>
            <th>Peripheral Software Info</th>
            <th>Peripheral Status</th>
            <th>Peripheral Type</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.PeriHardware</td>
        <td>@item.PeriID</td>
        <td>@item.PeriName</td>
        <td>@item.PeriSoftware</td>
        @if (item.PeriStatus == "Connected")
        {
            <td style="color: green">@item.PeriStatus</td>
        }
        else
        {
            <td style="color: red">@item.PeriStatus</td>
        }
        <td>@item.PeriType</td>
    </tr>

        }
    </table>
</div>

<div>
    <table class="table table-dark">
        <tr>
            <th>System Time</th>
            <th>Contact Name</th>
            <th>Contact Number</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Time</td>
                <td>@item.Name</td>
                <td>@item.Number</td>
            </tr>
        }
    </table>
</div>
