@model List<IRGraduateAssignment.Models.Capabilities>

<!Doctype html>
<head>
    <title>Time Person of the Year Results</title>
</head>


<link rel="stylesheet" href="~/Styles/StyleSheet.css" />
<!--Traverse through the Model and output each of the line items in the csv file.-->
<!--9 columns. output each line item-->
<div>
    <table>
        <tr>
            <th>Status</th>
            <th>Mode</th>
            <th>Name</th>
            <th>Options</th>
            <th>SourceID</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.Mode</td>
                <td>@item.Name</td>
                <td>@item.Options</td>
                <td>@item.SourceID</td>
            </tr>
        }
    </table>
</div>